@model BeerDrinkin.Web.DataObjects.AddressItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AddressItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.County)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.County)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longtitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longtitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOrName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOrName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
