@using System.Threading.Tasks
@using Microsoft.ApplicationInsights.Extensibility
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Beer Tracking App for iOS, Android and Windows">
        <meta name="author" content="Mike James">
        <!--title-->
        <title>Beer Drinkin | Find your new favourites</title>

        <!--CSS-->        
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/magnific-popup.css" rel="stylesheet">
        <link href="/css/owl.carousel.css" rel="stylesheet">
        <link href="/css/animate.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/preset/blue.css" rel="stylesheet">
        <link href="/css/responsive.css" rel="stylesheet">
            
        <!--Google Fonts-->
        <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
            <script src="js/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">

        @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    </head>
<body>
    <header id="navigation">
        <div class="navbar navbar-static-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="index.html">
                        <img class="main-logo img-responsive" src="/images/logo-blue.png" alt="">
                    </a>

                </div>
                <nav id="mainmenu" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">             
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">@Html.ActionLink("About", "About", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Features" ? "active" : "")">@Html.ActionLink("Features", "Features", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Beers" ? "active" : "")">@Html.ActionLink("Beers", "Index", "Beers")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li class="btn btn-primary @(ViewContext.RouteData.Values["Action"].ToString() == "LogIn" ? "active" : "")">@Html.ActionLink("Login", "Login", "Account")</li>

                    </ul>
                </nav>
            </div>
        </div>
    </header><!--/#navigation--> 

    @RenderBody()
    
    <footer id="footer" class="flat">
        <div class="overlay-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <p>© Copyright 2015 <a href="#">Beer Drinkin</a> | Made with love in Guildford.</p>
                </div>
                <div class="col-sm-5">
                    <ul class="list-inline footer-menu text-right">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Cookies</a></li>
                        <li><a href="#">Distributors</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <!--/#scripts-->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/js/jquery.nav.js"></script>
    <script type="text/javascript" src="/js/canvas.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/js/wow.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

</body>
</html>
