@model BeerDrinkin.Web.DataObjects.BeerItem

@{
    ViewData["Title"] = "Delete";
    Layout = "~/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BeerItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Abv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Abv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brewery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brewery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BreweryDbId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BreweryDbId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BreweryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BreweryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageLarge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageLarge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageMedium)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageMedium)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageSmall)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageSmall)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RateBeerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RateBeerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StyleId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StyleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Upc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Upc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
