@model IEnumerable<BeerDrinkin.Web.DataObjects.BeerItem>

@{
    ViewData["Title"] = "Index";
    Layout ="/views/shared/_layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Abv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brewery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BreweryDbId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BreweryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageLarge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageMedium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageSmall)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RateBeerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StyleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Upc)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Abv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brewery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BreweryDbId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BreweryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageLarge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageMedium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageSmall)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RateBeerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StyleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Upc)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
